{% extends "base.html" %}
<body>
    <div>
        {% block title %}LJConfigs{% endblock %}
        {% block content %}
        <form action="/ljconfig/add">
            <input type="submit" class="btn btn-primary" value="Add LJConfig">
        </form>
    </div>
    <div class="table-responsive">
        <table class="table table-striped table-hover">
        <tr>
            <th>Scan Rate</th>
            <th>Read Count</th>
            <th>Stream Settling (us)</th>
            <th>Stream Res Idx</th>
            <th>Active</th>
            <th>Valid</th>
            <th>Error Message</th>
        </tr>
        {% for l in ljconfigs %}
            <tr>
                <td>{{ l.scan_rate }}</td>
                <td>{{ l.read_count }}</td>
                <td>{{ l.stream_settling_us }}</td>
                <td>{{ l.stream_resolution_index }}</td>
                {% if l.is_active %}
                    <td style="font-weight:bold; font-size:15.5pt;">ACTIVE</td>
                {% else %}
                    <td>
                        <form action="/ljconfig/activate/{{l.id}}" method="post">
                            <button type="submit" class="btn btn-primary btn-sm">Activate</button>
                        </form>
                    </td>
                {% endif %}
                <td>{{ l.is_valid }}</td>
                <td>{{ l.error_message }}</td>
            </tr>
        {% endfor %}
        </table>
        {% endblock %}
    </div>
</body>