{% extends "base.html" %}
<body>
    <div>
        {% block title %}Tests{% endblock %}
        {% block content %}
            <form action="/test" method="post">
                <input type="submit" value="Run Test">
            </form>
            <table>
                <tr>
                    <th>Id</th>
                    <th>Start</th>
                    <th>Finish</th>
                    <th>Duration</th>
                    <th>Actual Scan Rate</th>
                    <th>Cd</th>
                    <th>LJConifg Id</th>
                    <tr>Constants Id</tr>
                </tr>
                {% for t in tests %}
                    <tr>
                        <td>{{ t.id }}</td>
                        <td>{{ t.start }}</td>
                        <td>{{ t.finish }}</td>
                        <td>{{ t.duration }}</td>
                        <td>{{ t.scan_rate_actual }}</td>
                        <td>{{ t.cd }}</td>
                        <td>{{ t.ljconfig_id }}</td>
                        <td>{{ t.constants_id }}</td>
                    </tr>
                {% endfor %}
            </table>
        {% endblock %}
    </div>
</body>