# Editors and IDEs
*.code-workspace
*.swp
*.swo
.idea/

# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
*.venv
dist/
build/

# app
*.db
/archive/sendes/static/*
/sendes/app/static/*

!/sendes/app/static/favicon/

# OS
.DS_Store