<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Call Function Example</title>
</head>
<body>
    <div class='container'>
        <h3>Test</h3>
        <form>
            <a><button id="test-btn" class='btn btn-default'>Test</button></a>
        </form>
    </div>
    <form method="POST" action="/">
        {{ config_form.test.label }} {{ config_form.test(id='test', size=20) }}
        <input type="submit" value="Go">
    </form>
    <form>
        {{ select_form.constants_dropdown() }}
    </form>
    {% if config_form.test.errors %}
    <ul class="errors">
        {% for error in config_form.test.errors %}
            <li>{{ error }}</li>
        {% endfor %}
    </ul>
    {% endif %}


<script type=text/javascript>
    document.addEventListener('DOMContentLoaded', (event) => {
        document.getElementById('test-btn').addEventListener('click', async function(e) {
            e.preventDefault();
            try {
                let response = await fetch('/call_log', {
                    method: 'POST'
                });
                let data = await response.json();
                // do nothing
            } catch (error) {
                console.error('Error:', error);
            }
        });
    });
    //document.getElementById('constants_dropdown').addEventListener('change', function() {
    //    document.getElementById('test').value = this.value;
    //});
</script>
</body>
</html>