{% extends "base.html" %}
<body>
    <div>
        {% block title %}Tests{% endblock %}
        {% block content %}
            <form action="/test" method="post">
                <input type="submit" class="btn btn-primary" value="Run Test">
            </form>
    <div class="table-responsive">
        <table class="table table-striped table-hover">
                <tr>
                    <th>Raw Data</th>
                    <th>Result</th>
                    <th>Id</th>
                    <th>Cd</th>
                    <th>Cd Rel</th>
                    <th>Start</th>
                    <th>Finish</th>
                    <th>Duration</th>
                    <th>Actual Scan Rate</th>
                    <th>LJConifg Id</th>
                    <th>Constants Id</th>
                </tr>
                {% for t in tests %}
                    <tr>
                        <td><a class="btn btn-primary" href="/test/{{t.id}}">View Test</a></td>
                        <td><a class="btn btn-primary" href="/result/{{t.id}}">View Result</a></td>
                        <td>{{ t.id }}</td>
                        <td>{{ test_dict[t.id] }}</td>
                        {% if test_dict[t.id] == "N/A" %}
                            <td>N/A</td>
                        {% else %}
                            <td>{{ "%.2f"|format(test_dict[t.id].split('-')[1]|float / test_dict[t.id].split("+")[0]|float * 100) }}%</td>
                        {% endif %}
                        <td>{{ t.start }}</td>
                        <td>{{ t.finish }}</td>
                        <td>{{ t.duration }}</td>
                        <td>{{ t.scan_rate_actual }}</td>
                        <td>{{ t.ljconfig_id }}</td>
                        <td>{{ t.constants_id }}</td>
                    </tr>
                {% endfor %}
            </table>
        {% endblock %}
    </div>
</body>