{% extends "base.html" %}
<body>
    <div>
        {% block title %}Tests{% endblock %}
        {% block content %}
            <form action="/test/set/{{test.id}}" method="post">
                {{ bound_form.hidden_tag() }}
                <table>
                    <tr>
                        <th>{{ bound_form.window_start.label }}</th>
                        <th>{{ bound_form.window_finish.label }}</th>
                    </tr>
                    <tr>
                        <th>{{ bound_form.window_start() }}</th>
                        <th>{{ bound_form.window_finish() }}</th>
                    </tr>
                </table>
                <div class="mb-2">
                {{ bound_form.submit(class="btn btn-primary") }}
                </div>
            </form>
            <div class="row">
                <div class="col"><img src="{{ images[0] }}"></div>
            </div>
            <div class="row">
                <div class="col">V P1: {{ test.ufloat_vp1 }} Volts</div>
            </div>
            <div class="row">
                <div class="col">V P2: {{ test.ufloat_vp2 }} Volts</div>
            </div>
            <div class="row">
                <div class="col"><img src="{{ images[1] }}"></div>
            </div>
            <div class="row">
                <div class="col">dx/dt: {{ test.ufloat_vdx }} Volts</div>
            </div>
            <div class="mt-2">
                <a class="btn btn-primary" href="/result/{{test.id}}">View Result</a>
            </div>
        {% endblock %}
    </div>
</body>